.jumbotron {
  text-align: center;
  color: #fff;
  background: url("/img/stars.jpg") no-repeat center center fixed;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.jumbotron a {
  color: #93cbe8;
}

.jumbotron .btn {
  margin: 9px;
  color: #fff;
}

.jumbotron .btn:hover {
  color: #666;
}

.jumbotron .btn i {
  line-height: 24px;
  margin-right: 7px;
}